
.list-container::before{
    content: '';
    height: 0.5px;
    width: 80%;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgb(95, 95, 95) 50.55%, rgba(255, 255, 255, 0) 102.62%);
}

.list-container::after{
    content: '';
    height: 0.5px;
    width: 80%;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgb(95, 95, 95) 50.55%, rgba(255, 255, 255, 0) 102.62%);;
}

.overlay::before{
    content: '';
    position: absolute;
    bottom: 50%;
    z-index: 100;
    /* outline: red solid 2px; */
    height: 100%;
    width: 25%;
    left: -3px;
    background: linear-gradient(-90deg, #0A0B16 11.98%, rgba(10, 11, 22, 0.9) 36.46%, rgba(10, 11, 22, 0) 100%);
    transform: matrix(-1, 0, 0, 1, 0, 0) translateY(50%);
}

.overlay::after{
    content: '';
    position: absolute;
    bottom: 50%;
    /* outline: red solid 2px; */
    height: 100%;
    z-index: 100;
    width: 25%;
    right: 0;
    background: linear-gradient(90deg, #0A0B16 11.98%, rgba(10, 11, 22, 0.9) 36.46%, rgba(10, 11, 22, 0) 100%);
    transform: matrix(-1, 0, 0, 1, 0, 0) translateY(50%);
}
