.time-pill{
    background: linear-gradient(97.05deg, #F29200 1.32%, #F9B234 96.49%);
}

.view-pill{
    background: #0a0b162f;
    backdrop-filter: blur(40px);
}

.background-image {
    background-repeat: no-repeat !important;
    background-position: center !important;
}

.photo-container {
    height: 60vh;
    width: 90%;
    align-items: center;
  }