
.overlay-buttons::before{
    content: '';
    position: absolute;
    pointer-events: none;
    bottom: 50%;
    z-index: 100;
    /* outline: red solid 2px; */
    height: 100%;
    width: 25%;
    left: -5%;
    background: linear-gradient(-90deg, #0A0B16 11.98%, rgba(10, 11, 22, 0.9) 36.46%, rgba(10, 11, 22, 0) 100%);
    transform: matrix(-1, 0, 0, 1, 0, 0) translateY(50%);
}

.overlay-buttons::after{
    content: '';
    position: absolute;
    pointer-events: none;
    bottom: 50%;
    /* outline: red solid 2px; */
    height: 100%;
    z-index: 100;
    width: 25%;
    right: -5%;
    background: linear-gradient(90deg, #0A0B16 11.98%, rgba(10, 11, 22, 0.9) 36.46%, rgba(10, 11, 22, 0) 100%);
    transform: matrix(-1, 0, 0, 1, 0, 0) translateY(50%);
}
